<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">
  <header>
    <!--  <span class="btn-list"><i class="fa-solid fa-bars"></i></span>-->
    <h1 class="logo">
      <a href="#">
        <img th:src="@{/img/logo.png}" alt="logo" width="160" height="80">
      </a>
    </h1>
    <nav>
      <ul>
        <li class="menu-list">
          <a href="#">
            <span class="icon"><i class="fa-solid fa-house"></i></span>
            홈
          </a>
        </li>
        <li class="menu-list">
          <a href="#">
            <span class="icon"><i class="fa-regular fa-envelope"></i></span>
            메일
          </a>
        </li>
        <li class="menu-list">
          <a href="#">
            <span class="icon"><i class="fa-regular fa-user"></i></span>
            주소록
          </a>
        </li>
        <li class="menu-list">
          <a href="#">
            <span class="icon"><i class="fa-regular fa-calendar"></i></span>
            캘린더
          </a>
        </li>
        <li class="menu-list">
          <a href="#">
            <span class="icon"><i class="fa-brands fa-instagram"></i></span>
            커뮤니티
          </a>
        </li>
        <li class="menu-list">
          <a href="#">
            <span class="icon"><i class="fa-regular fa-comment"></i></span>
            메신저
          </a>
        </li>
        <li class="menu-list">
          <a href="#">
            <span class="icon"><i class="fa-regular fa-pen-to-square"></i></span>
            전자결재
          </a>
        </li>
        <li class="menu-list">
          <a href="#">
            <span class="icon"><i class="fa-solid fa-list-ol"></i></span>
            ToDO
          </a>
        </li>
        <li class="menu-list">
          <a href="#">
            <span class="icon"><i class="fa-solid fa-briefcase"></i></span>
            근태관리
          </a>
        </li>
        <li class="menu-list">
          <a href="#">
            <span class="icon"><i class="fa-solid fa-people-arrows"></i></span>
            회의실예약
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="dashboard_header">
    <section>
      <div class="commute-menu">
        <!--      <button>출근</button>-->
        <!--      <button>퇴근</button>-->
      </div>
      <div class="my-info-menu">
        <p>민재홍 / 사원</p>
        <div class="alarm" title="알림">
          <i class="fa-regular fa-bell"></i>
        </div>
        <div class="profile" title="내 정보">
          <i class="fa-regular fa-user"></i>
        </div>
        <div class="logout" title="로그아웃">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </div>
      </div>
    </section>
  </div>
</th:block>

</html>