<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/head :: head}"></th:block>
<link rel="stylesheet" th:href="@{/css/main.css}">
<script defer th:src="@{/js/main.js}"></script>
<script src="https://kit.fontawesome.com/2832571431.js" crossorigin="anonymous"></script>
</head>

<body>

<th:block th:replace="~{/fragments/header :: header}"></th:block>

<div class="main-section">
  <section class="content-wrap">
    <!--   근태관리   -->
    <div class="absenteeism-content">
      <h2>근태관리</h2>
      <span class="time-txt">2023년 03월 26일 (일) 03:30:55</span>
      <div class="ehr_stat_data summary"><p class="stat_tit">42<b>h</b> 46<b>m</b></p>
        <div class="type_flexible_summary">
          <div class="wrap_progress">
            <div class="time min" title="주간 근무시간은 40h입니다." style="left:58%">최소 40h</div>
            <div class="bar" style="left:76%"></div>
            <div class="time max" title="최대 근무시간은 52h입니다.">최대 52h</div>
            <div class="progress">
              <div class="part_default" title="선택근무" style="width:76%"></div>
              <div class="part_overtime" title="초과근무(연장)" style="width:4%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="log-view-wrap">
        <ul class="log-view">
          <li>
            <dl>
              <dt>출근시간</dt>
              <dd id="workInTime">미등록</dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>퇴근시간</dt>
              <dd id="workOutTime">미등록</dd>
            </dl>
          </li>
        </ul>
        <div class="vertical-bar"></div>
        <section class="attend">
          <div class="btn-function_wrap">
            <button id="workIn" class="btn-function">출근하기</button>
            <button id="workOut" class="btn-function">퇴근하기</button>
          </div>
        </section>
      </div>
    </div>
    <!--   //근태관리   -->
    <!--   메뉴 선택   -->
    <div class="several-content">
      <div>
        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
        메일 쓰기
      </div>
      <div>
        <span class="icon"><i class="fa-brands fa-square-instagram"></i></span>
        커뮤니티
      </div>
      <div>
        <span class="icon"><i class="fa-solid fa-pen-to-square"></i></span>
        휴가 신청
      </div>
      <div>
        <span class="icon"><i class="fa-solid fa-people-arrows"></i></span>
        회의실 예약
      </div>
    </div>
    <!--   //메뉴 선택   -->
  </section>
  <section class="content-wrap">
    <!--  ToDO+ LIST    -->
    <div class="todo-content">
      <div class="todo-wrap">
        <div class="todo-header">
          <div class="todo-h1">
            <span class="title">ToDO+</span>
          </div>
        </div>
        <ul class="type-todo-list">
          <li class="null-data">
            <span class="icon"><i class="fa-solid fa-triangle-exclamation"></i></span>
            <p class="desc">등록하신 일정이 없습니다. 일정을 등록해주세요.</p>
          </li>
        </ul>
      </div>
    </div>
    <!--  //ToDo+ List    -->
    <!--  Email    -->
    <div class="email-content">
      <div class="email-wrap">
        <div class="email-header">
          <div class="email-h1">
            <span class="title">메일함</span>
          </div>
        </div>
        <div id="tab" class="tab-wrap">
          <ul class="dashboard-tab">
            <li class="on tab-list" data-tab-target="#tab1"><a title="받은메일함">받은메일함</a></li>
            <li class="tab-list" data-tab-target="#tab2"><a title="보낸메일함">보낸메일함</a></li>
            <li class="tab-list" data-tab-target="#tab3"><a title="예약메일함">예약메일함</a></li>
            <li class="tab-list" data-tab-target="#tab4"><a title="중요 메일함">중요 메일함</a></li>
          </ul>
        </div>
        <div id="items" class="email-list-wrap">
          <!--     받은 메일함       -->
          <div id="tab1" class="email-dashboard " data-tab-content>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[받은 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[받은 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[받은 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[받은 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[받은 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[받은 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
          </div>
          <!--     // 받은 메일함       -->
          <!--     보낸 메일함       -->
          <div id="tab2" class="email-dashboard off" data-tab-content>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[보낸 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[보낸 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[보낸 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[보낸 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[보낸 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[보낸 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
          </div>
          <!--     //보낸 메일함       -->
          <!--     예약 메일함       -->
          <div id="tab3" class="email-dashboard off" data-tab-content>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[예약 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[예약 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[예약 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[예약 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[예약 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[예약 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
          </div>
          <!--     //예약 메일함       -->
          <!--     중요 메일함       -->
          <div id="tab4" class="email-dashboard off" data-tab-content>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[중요 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[중요 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[중요 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[중요 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[중요 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
            <ul class="email-list">
              <li>
                <p class="name"><span>김다우</span></p>
              </li>
              <li>
                <div class="info">
                  <p class="desc">
                    <a href="#">[중요 메일] '마장웅 상무'이(가) 작성한 ' (SREX)CCTV 추가 설치의 건 '이(가) 반려되었습니다.</a>
                  </p>
                </div>
              </li>
              <li>
                <span class="date">03-23</span>
              </li>
            </ul>
          </div>
          <!--      //중요 메일함      -->
        </div>
        <div class="tool-bar">
          <a class="previous-button" title="이전">&lt</a>
          <a class="next-button" title="다음">&gt</a>
        </div>
      </div>
    </div>
    <!--   //Email   -->
  </section>
  <section class="content-wrap">
    <div class="border-content">
      <div class="border-header">
        <h2 class="border-title">공지사항</h2>
      </div>
      <div class="border-list-wrap">
        <ul class="border-list">
          <li>
            <div class="notice-title">[공지사항] Symantec 백신 소프트웨어 재설치 안내</div>
            <span class="time">03-27 02:31 &nbsp&nbsp&nbsp&nbsp&nbsp<span class="name">민재홍 사원</span></span>
          </li>
          <li>
            <div class="notice-title">[공지사항] 성과면담 및 이의제기 안내</div>
            <span class="time">03-27 02:31 &nbsp&nbsp&nbsp&nbsp&nbsp<span class="name">민재홍 사원</span></span>
          </li>
          <li>
            <div class="notice-title">[공지사항] 신규 PC메신저 업그레이드 안내</div>
            <span class="time">03-27 02:31 &nbsp&nbsp&nbsp&nbsp&nbsp<span class="name">민재홍 사원</span></span>
          </li>
          <li>
            <div class="notice-title">[공지사항] 회의실 노트북 패스워드 변경 작업 안내</div>
            <span class="time">03-27 02:31 &nbsp&nbsp&nbsp&nbsp&nbsp<span class="name">민재홍 사원</span></span>
          </li>
          <li>
            <div class="notice-title">[공지사항] 인사명령 제 2023-004호</div>
            <span class="time">03-27 02:31 &nbsp&nbsp&nbsp&nbsp&nbsp<span class="name">민재홍 사원</span></span>
          </li>
        </ul>
      </div>
    </div>
<!--    <p th:text="${cookie}"></p>-->
  </section>
</div>

</body>
</html>