<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Reservation List</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<h1>Reservation List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Room</th>
    <th>Employee</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="reservation : ${reservations}">
    <td th:text="${reservation.reservationId}"></td>
    <td th:text="${reservation.room.name}"></td>
    <td th:text="${reservation.empId.name}"></td>
    <td th:text="${reservation.startTime}"></td>
    <td th:text="${reservation.endTime}"></td>
  </tr>
  </tbody>
</table>
</body>

</html>